<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/favicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/favicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Application"
        tools:targetApi="31">
        <activity
            android:name=".test_5"
            android:exported="false" />
        <activity
            android:name=".test_4"
            android:exported="false" />
        <activity
            android:name=".test_3"
            android:exported="false" />
        <activity
            android:name=".test_2"
            android:exported="false" />
        <activity
            android:name=".test_1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_test"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lesson_5"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lesson_4"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lesson_3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lesson_2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lesson_1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_vocabulary"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_settings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_register"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_menu"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>